<head>
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
</head>

<script>

  function init_all_tooltip() {}


  document.observe("dom:loaded", function() {
    /* initiate all the tooltip */
    init_all_tooltip();

  });


</script>


<% content_for(:side_bar) do %>



  <h4>
    Lastest 5 of <%= "#{@build_list.length} " %>Builds
  </h4>

  <div id="buildno_list">
    <ul>
      <% for build in @build_list.slice(0,5) do %>
          <li><%=  link_to_unless_current "#{build.buildno}", smoke_status_url(:build_id => build.id)%></li>
        <% end %>

        <li><%=  link_to_remote "More...", :url => {:action=>:more},
            :before => "Element.show('spinner');" ,
            :html => {:id => 'more_builds'} %></li>
      </ul>
    </div>

    <br/>

    <h4>
      Send Notification
    </h4>
    <div>
      <% form_tag :action => 'send_notification' do %>
        <%= submit_tag "Send" %>
      <% end %>
      <br>
    </div>


    <h4>
      Sync with Server
    </h4>
    <div id="sync_form">
      <% form_remote_tag :url =>{:action => "sync" },
        :confirm => "Are you sure you want to sync this build?" ,
        #:before => " Element.show('spinner'); Element.show('sync_spiner');",
      :before => "Element.hide('sync_form');"+ "Element.show('sync_spinner');" + "Element.show('spinner');",
        #:complete=> "Element.hide('spinner');
      :complete => "Element.hide('sync_spinner');" + "Element.hide('spinner');"   do  %>
        <p>
          Build No <br/>
          <%= text_field_tag :buildno, "Specify Buildno"%>
        </p>
        <%= submit_tag "Sync" %>
        <%#=  link_to_remote "SYNC", :url=>{:action=>:sync}  %>
      <% end %>

    </div>
    <%= image_tag 'loading2.gif', :id=>'sync_spinner', :style=>"display:none; float:left;"%>
    <br/>
    <div color="green" id="sync_result">

    </div>

    <div id="tooltip_area"></div>



  <% end %>
  
  <h5>
    Smoke Test Status of Build #<%= "#{@current_buildno}"%>.
  </h5>

  <div id="panel_smoke_test" class="panel" style="margin-top: 50px">

    <div id="smoke_summary">
      <% s_total = @smoke_test_result.length %>
      <% s_pass =@smoke_test_result.select{|s| not s[:final_result].nil? and s[:final_result].include?('PASS')}.length %>
      <table>
        <tr>
          <th>Total</th>
          <th>Pass</th>
          <th>Fail</th>
          <th>NT</th>
          <th>P-Ratio</th>
        </tr>
        <tr class="total">
          <td>
            <%= @smoke_test_result.length %>
          </td>

          <td>
            <%= @smoke_test_result.select{|s|not s[:final_result].nil? and  s[:final_result].include?('PASS')}.length  %>
          </td>

          <td>
            <%= @smoke_test_result.select{|s|not s[:final_result].nil? and not s[:final_result].include?("PASS") }.length  %>
          </td>

          <td>
            <%= @smoke_test_result.select{|s| s[:final_result].nil?}.length  %>
          </td>

          <td>
            <%= number_to_percentage(s_pass/s_total.to_f * 100, :precision => 0)%>
          </td>

        </tr>
      </table>
    </div>


    <div id="panel_smoke_test">
      <table class="highlightable sortable">
        <thead>
          <tr>
            <th>Defined_ID</th>
            <th>Result</th>
            <th>Owner</th>
          </tr>
        </thead>

        <tbody>
          <%= render :partial=>"smoke_item", :collection=>@smoke_test_result %>
        </tbody>


      </table>

    </div>
  </div>